* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

h1 {
    margin: 0%;
}

p {
    margin: 0%;
}

#introduction {
    background-color: #f9f5ff;
    height: 40vh;
}

#navbar {
    padding-left: 25vh;
    padding-right: 25vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
}

#links {
    display: flex;
    justify-content: space-between;
}

.brief-intro {
    padding-left: 25vh;
    padding-right: 25vh;
    padding-top: 5vh;
    font-size: 30px;
    font-weight: 400;
}

.curr-work {
    padding-left: 25vh;
    padding-right: 25vh;
    padding-top: 5vh;
    font-size: 25px;
    font-weight: 250;
}

.name {
    color: #474350;
    font-size: 19px;
    font-weight: 500;
}

.link {
    color: #474350;
    font-size: 19px;
    padding-left: 5vh;
}

@media (max-width: 768px) {
    #navbar {
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 2vh;
        display: flex;
        justify-content: space-between;
    }

    .brief-intro {
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 2vh;
        font-size: 18px;
        font-weight: 300;
    }

    .curr-work {
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 5vh;
        font-size: 14px;
        font-weight: 150;
    }


    .name {
        color: #474350;
        font-size: 16px;
        font-weight: 500;
    }

    .link {
        color: #474350;
        font-size: 16px;
        padding-left: 5vh;
    }
}


@media (max-width: 992px) {
    #navbar {
        padding-left: 3vh;
        padding-right: 3vh;
        padding-top: 2vh;
        display: flex;
        justify-content: space-between;
    }

    .brief-intro {
        padding-left: 3vh;
        padding-right: 3vh;
        padding-top: 2vh;
        font-size: 18px;
        font-weight: 300;
    }

    .name {
        color: #474350;
        font-size: 14px;
        font-weight: 500;
    }

    .link {
        color: #474350;
        font-size: 14px;
        padding-left: 5vh;
    }
}