.home-container {
    background-color: #E5F1F0;
}

.home-body {
    padding: 3%;
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.pitch {
    padding: 5%;
    width: 100%;
    font-size: 1.4em;
    font-weight: 300;
}

.home-headshot {
    display: flex;
    align-items: center;
}

@media (max-width: 920px) and (min-width: 310px) {
    .home-body {
        display: block;
        width: 100%;
    }

    .pitch {
        width: 100%;
        font-size: 1.2em;
    }
}
