.home-container {
    background-color: #E5F1F0;
    width: 100%;
}

.greeting {
    font-weight: 400;
    font-size: 1.0em;
    color: #55769A;
}

.home-body {
    margin: auto;
}

.pitch {
    padding: 5%;
    width: 100%;
    font-size: 1.3em;
    font-weight: 300;
}

.home-headshot {
    display: flex;
    align-items: center;
}

@media (max-width: 920px) and (min-width: 310px) {
    .home-body {
        display: block;
        width: 100%;
    }

    .pitch {
        width: 100%;
        font-size: 1.2em;
    }
}
