.row {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    margin: 3% 0 3% 0;
    color: #161925;
    transition: all .2s ease-in-out;
}

.row:hover {
    text-decoration: none;
    transform: scale(1.01);
}

.row:hover .title {
    color: #b1769b;
}

.completed {
    color: #6e7376;
    margin: 2% 0 2% 0;
}

.shell {
    width: 40%;
    height: auto;
}

.descShell {
    width: 60%;
    height: auto;
}

.image {
    width: 100%;
    height: auto;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.spDescription {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    width: 100%;
    margin: 0px;
    font-size: 1em;
}


/**
    use these styles for devices no larger than
    800px and no smaller then 320px
**/
@media (max-width: 414px) {
    .row {
        display: inline-block;
    }

    .descShell {
        width: 100%;
    }

    .shell {
        width: 100%
    }

    .image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}

