.projectCard {
    margin: 5% auto 5% auto;
    cursor: pointer;
    width: 20em;
    height: 22em;
    color: #161925;
}

#title {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

#cardTop {
    height: 23vh;
    border-bottom: 1px solid #c1c1c1;
}

#blurb {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    width: 80%;
    margin: 0px
}

#img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}

a:hover {
    text-decoration: none;
}

.card-body:hover {
    text-decoration: none;
    color: #b1769b;
}

/**
    use these styles for devices no larger than
    800px and no smaller then 320px
**/
@media (max-width: 812px) and (min-width: 320px) {
    .projectCard {
        margin: 5% auto 0 auto;
        width: 16em;
        height: 22em;
    }

    #img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .projectCard {
        margin: 5% auto 0 auto;
        width: 15em;
        height: 22em;
    }

    #img {
        width: 100%;
    }
}