#projectCard {
    margin: 2vh auto 0vh auto;
    cursor: pointer;
    width: 20em;
    height: 15em;
}

#title {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bold;
}

#cardTop {
    height: 50%;
    border-bottom: 1px solid #c1c1c1;
}

#blurb {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    width: 80%;
    margin: 0px
}

#img {
    width: 300px;
    margin: auto;
    display: block;
}

/* use these styles for devices smaller then 500px */
@media (max-width: 500px) {
    #projectCard {
        margin: 5% auto 0 auto;
        width: 15em;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    #projectCard {
        margin: 5% auto 0 auto;
        width: 15em;
    }
}
