.projectCard {
    margin: 5% auto 5% auto;
    cursor: pointer;
    width: 20em;
    height: 29em;
    color: #161925;
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 10px;
}

.projectCard:hover {
    transform: scale(1.03);
}

.projectCard:hover #title {
    color: #b1769b;
}

#title {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.date {
    color: #6e7376;
}

#cardTop {
    border-bottom: 1px;
    height: 250px;
}

#blurb {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    width: 80%;
    margin: 0px;
}

#img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

a:hover {
    text-decoration: none;
}

.card-body {
    height: 100%;
}

.card-body:hover {
    text-decoration: none;
}

/**
    use these styles for devices no larger than
    800px and no smaller then 320px
**/
@media (max-width: 812px) and (min-width: 320px) {
    .projectCard {
        margin: 5% auto 0 auto;
        width: 16em;
        height: auto;
    }

    #img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .projectCard {
        margin: 5% auto 0 auto;
        width: 15em;
        height: auto;
    }

    #img {
        width: 100%;
    }
}