.description {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 2.5% auto 2.5% auto;
    width: 60%;
    font-weight: 300;
    font-size: 1.40em;
    line-height: 2.5;
}

.projects {
    padding: 1% 0 3% 0;
    background-color: #E5F1F0;
}
