.description {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 2.5% auto 2.5% auto;
    width: 60%;
    font-weight: 300;
    font-size: 1.40em;
    line-height: 2.5;
}

.projects {
    padding: 1% 0 3% 0;
    background-color: #d6e5e3;
    border-top: solid 1px #c1c1c1;
    border-bottom: solid 1px #c1c1c1;
}
