#sectionBody {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    padding: 1% 15% 0% 15%;
    margin: 0% auto 0% auto;
}

#heading {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 0px;
    color: #4b425a;
}

#cards {
    display: flex;
    justify-content: space-evenly;
}

.projectCard {
    cursor: pointer;
}


/* use these styles for devices smaller then 500px */
@media (max-width: 823px) and (min-width: 320px){
    #cards {
        display: block;
    }

    #sectionBody {
        padding: 0 3% 0 3%;
    }
}

@media (min-width: 1024px) and (min-height: 1300px) {
    #sectionBody {
        height: 25vh;
    }
}