* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}