.card-description {
    display: flex;
    justify-content: space-evenly;
}

.badge {
    background-color: #55769A; 
}

.badge-div {
   margin: 0 1%;
   font-size: 1em;
}

.card-header {
    cursor: pointer;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card {
   border: 0.5px solid #b1769b;
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   transition: box-shadow 0.3s ease-in-out;
}

.card-project-name {
    font-weight: 500;
    color: #55769A;
}
