#component {
    background-color: #cacfd6;
    padding: 3%;
    width: 100vw;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.center {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center !important;
}

.icon {
    width: 45px;
    height: 45px;
    padding: 15%;
}