#component {
    padding: 3%;
    width: 100vw;
    position: relative;
}

.center {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center !important;
}

.icon {
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    padding: 20%;
    color: #7272ab;
}

.icon:hover {
    text-decoration: none;
    color: #b1769b;
}

/**
    increase the footer size on an iPad
 */
@media (width: 1024px) {
    #component {
        height: 25vh;
    }

    #footerContent {
        padding: 7% 0px 7% 0px;
    }
}