.body {
    fontFamily: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    font-weight: 500;
}

.links {
    display: flex;
}

.link {
    display: inline-block;
}

.pitch {
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: auto;
    max-width: 65vw;
    font-weight: 300;
}

#nameLg {

}

#nameSm {
    display: none;
}

/* change the nav bar's appearance on smaller screens */
@media (max-width: 375px) {
    #nameSm {
        display: block;
    }

    #nameLg {
        display: none;
    }

    .link {

    }
}

