.labImage {
    width: 100%;
}

.koconutDesc {
    width: 100%;
    margin: 2% 20% 0 20%;
}

.koconutLinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 3% 0 3% 0;
}
