#navBarBody {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    max-height: 50vh;
    font-size: 1em;
    font-weight: 500;
}

.navBarHeader {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    margin: 0 auto 0 auto;
    padding: 3% 0 0 0;
    width: 75%;
}

.navBarHeader a {
    color: #55769A;
}

.navBarHeader a:hover {
    text-decoration: none;
    color: #b1769b;
}

.links {
    display: flex;
}

.link {
    display: inline-block;
    margin-left: 10%;
}

#nameLg {
    margin-left: -9%;
}

#nameSm {
    display: none;
}

/* don't show full name on small mobile devices */
@media (max-width: 694px) and (min-width: 320px) {
    #navBarBody {
        font-size: 1em;
    }

    .navBarHeader {
        padding: 7% 0 3% 0;
        width: 70%;
        margin: auto;
    }

    #nameSm {
        display: block;
    }

    #nameLg {
        display: none;
    }

    .link {
        display: inline-block;
        margin-left: 4%;
    }

    .menu {
        /* display: inline-block; */
    }
}

@media (max-width: 320px) {
    .link {
        display: inline-block;
        margin-left: 4%;
    }

    .navBarHeader {
        padding: 7% 0 3% 0;
        width: 80%;
        margin: auto;
    }
}

/**
    reduce the padding on intro bar
 */
@media (max-width: 1024px) and (min-width: 645px) {
    .link {
        display: inline-block;
        margin-left: 7%;
    }

    .navBarHeader {
        padding: 5% 15% 2% 15%;
        margin: auto;
        width: 80%;
    }
}
