.projHeader {
    background-color: #E5F1F0;
    display: flex;
    margin: 3% 0 1.5% 0;
}

.projDesc {
    width: 40%;
    margin: 2% 0 0 20%;
}

.projImg {
    width: auto;
    height: auto;
    margin: 5%;
}

.projTitle {
    font-size: 1.8em;
    font-weight: 300;
}

.when {
    font-size: 1.1em;
    font-weight: 300;
}

.projSummary {
    line-height: 2;
    font-weight: 300;
    font-size: 1.07em;
}

.projLinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 7% 0 7% 0;
}

.projBody {
    margin: 0 20% 0 20%;
}

.sectionHeading {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6em;
    color: #028090;
}

.sectionText {
    line-height: 2.2;
    font-weight: 300;
    font-size: 1.07em;
}

.projButton {
    font-weight: 300;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #028090;
    width: 6em;
    height: 2.7em;
    transition: all .3s ease-in-out;
    margin: 0 15px 0 0;
}

.projButton:hover {
    background-color: #028090;
    opacity: 0.9;
    color: #fff;
    cursor: pointer
}

.bolder {
    font-weight: 400;
}

@media (max-width: 640px) and (min-width: 310px) {
    .projImg {
        display: none;
    }

    .projDesc {
        width: 80%;
        margin: 2% 15% 0 15%;
    }

    .projBody {
        margin: 0 15% 0 15%;
    }
}
